#!/bin/sh

case "$(uname -s)" in
  Linux*)
    echo "Linux detected"
    if grep -q Microsoft /proc/version; then
      echo "WSL detected"
    fi
    echo "Updating apt-get..."
    sudo apt-get update
    echo "Installing packages with apt-get..."
    # Add packages here
    sudo apt-get install -y zsh snapd
    # TODO: Add ghostty installation for Linux
    echo "Installing Starship..."
    curl -sS https://starship.rs/install.sh | sh -s -- -y
    sudo apt-get install -y age
    ;;
  Darwin*)
    echo "macOS detected"
    if ! command -v brew >/dev/null 2>&1; then
      echo "Installing Homebrew..."
      /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    fi
    echo "Installing packages with Homebrew..."
        # Add packages here
    brew install chezmoi zsh ghostty age starship
    ;;
  *)
    echo "Unsupported operating system"
    exit 1
    ;;
esac
