#!/bin/sh

case "$(uname -s)" in
  Linux*)
    echo "Linux detected"
    if grep -q Microsoft /proc/version; then
      echo "WSL detected"
    fi
    echo "Updating apt-get..."
    sudo apt-get update
    echo "Installing packages with apt-get..."
    # Add packages here
    sudo apt-get install -y zsh age
    
    if ! command -v starship >/dev/null 2>&1; then
      echo "Installing Starship..."
      curl -sS https://starship.rs/install.sh | sh -s -- -y > /dev/null 2>&1
    else
      echo "Starship already installed, skipping..."
    fi

    if [ ! -d "$HOME/.oh-my-zsh" ]; then
      echo "Installing Oh My Zsh..."
      sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended
    else
      echo "Oh My Zsh already installed, skipping..."
    fi
    
    echo "Installing Oh My Zsh custom plugins..."
    if [ ! -d "$HOME/.oh-my-zsh/custom/plugins/zsh-autosuggestions" ]; then
      git clone https://github.com/zsh-users/zsh-autosuggestions "$HOME/.oh-my-zsh/custom/plugins/zsh-autosuggestions"
    else
      echo "zsh-autosuggestions already installed, skipping..."
    fi
    
    if [ ! -d "$HOME/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting" ]; then
      git clone https://github.com/zsh-users/zsh-syntax-highlighting "$HOME/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting"
    else
      echo "zsh-syntax-highlighting already installed, skipping..."
    fi
    ;;
  Darwin*)
    echo "macOS detected"
    if ! command -v brew >/dev/null 2>&1; then
      echo "Installing Homebrew..."
      /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    fi
    echo "Installing packages with Homebrew..."
    # Add packages here
    brew install chezmoi zsh ghostty age starship

    if [ ! -d "$HOME/.oh-my-zsh" ]; then
      echo "Installing Oh My Zsh..."
      sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended
    else
      echo "Oh My Zsh already installed, skipping..."
    fi
    
    echo "Installing Oh My Zsh custom plugins..."
    if [ ! -d "$HOME/.oh-my-zsh/custom/plugins/zsh-autosuggestions" ]; then
      git clone https://github.com/zsh-users/zsh-autosuggestions "$HOME/.oh-my-zsh/custom/plugins/zsh-autosuggestions"
    else
      echo "zsh-autosuggestions already installed, skipping..."
    fi
    
    if [ ! -d "$HOME/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting" ]; then
      git clone https://github.com/zsh-users/zsh-syntax-highlighting "$HOME/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting"
    else
      echo "zsh-syntax-highlighting already installed, skipping..."
    fi
    ;;
  *)
    echo "Unsupported operating system"
    exit 1
    ;;
esac
