{
  "$schema" : "https://aka.ms/winget-packages.schema.2.0.json",
  "CreationDate" : "{{ now | date "2006-01-02T15:04:05.000-00:00" }}",
  "Sources" : [
    {
      "Packages" : [
{{- range $index, $package := .packages.winget.packages }}
        {
          "PackageIdentifier" : "{{ $package }}"
        }{{ if ne $index (sub (len $.packages.winget.packages) 1) }},{{ end }}
{{- end }}
      ],
      "SourceDetails" : {
        "Argument" : "https://cdn.winget.microsoft.com/cache",
        "Identifier" : "Microsoft.Winget.Source_8wekyb3d8bbwe",
        "Name" : "winget",
        "Type" : "Microsoft.PreIndexed.Package"
      }
    }
  ],
  "WinGetVersion" : "1.9.25200"
}
